# Go gitignore.

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# VSCode gitignore.
.vscode/*

# IDEA gitignore.
.idea/*

# MyPy Cache
.mypy_cache/*

# Dist directory
dist/*

# Python Virtual environment
venv/

# Temporary
opt/
docs/usr/
*.snap
