/* =============
   Pricing
============= */
.pricing-plan {
  padding-bottom: 50px;
}

.price_card {
  background: $white;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  position: relative;
}

.price_card .name {
  display: block;
  font-size: 16px;
  padding: 0 0 30px;
  text-align: center;
  width: 100%;
}

.price_card button {
  margin-top: 20px;
}

.pricing-header {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: $white;
}

.price {
  display: block;
  font-size: 48px;
  font-weight: 300;
  padding: 30px 0 10px;
  text-align: center;
  width: 100%;
}

.price-features {
  color: $muted;
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-top: 20px;
  text-align: center;
}

.price-features li {
  padding: 15px;
}

.pricing-item {
  margin: 0 0 30px;
  position: relative;
  text-align: center;
}

.pricing-wrap {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  padding: 30px 20px;
  position: relative;
  text-align: center;
}

.pricing-icon {
  font-size: 32px;
  padding-bottom: 5px;
  padding-top: 10px;
  position: relative;
  z-index: 1;
}

.pricing-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 40px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.pr-list {
  color: $muted;
  font-size: 12px;
  font-weight: 400;
  margin: 0 -20px 30px;
  padding: 0;
  text-transform: uppercase;
}

.pr-list li {
  list-style: none;
  padding: 12px 20px;
}

.pricing-num {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}

.pricing-num sup {
  font-size: 18px;
  font-weight: 400;
  left: -3px;
  margin-left: -7px;
  position: relative;
  top: -20px;
}

.pr-per {
  color: $muted;
  font-size: 12px;
}

.pr-button {
  margin-top: 30px;
}