table {
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
th{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
