[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
zipp = {editable = true, path = "."}
easemlclient = {editable = true, path = "."}

[packages]
tuspy = {editable = true,path = "."}
zipp = {editable = true, path = "."}
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.6"
