[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pydoc-markdown = "*"
mypy = "*"
e1839a8 = {editable = true,path = "."}
easemlclient = {editable = true,path = "."}

[packages]
requests = "*"
pyrfc3339 = "*"
tuspy = "*"
docker = "*"

[requires]
python_version = "3.6"
