/* ===========
Companies
============== */

.company-card {

  .company-logo {
    float: left;
    height: 60px;
    width: 60px;
    border-radius: 3px;
  }

  .company-detail {
    margin: 0 0 50px 75px;
  }

}